/* Set page background to black and text color to white */
body {
  background-color: black;
  color: white;
}

/* Center the "Referral Links" heading */
header {
  text-align: center;
}

/* Add styling for the link list */
#link-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
  grid-gap: 20px; /* Add gap between links */
  padding: 20px;
}

.column h3 {
  font-size: 24px; /* Increase font size for column headers */
}

.link-item {
  margin-bottom: 20px;
}

.link-item h2 {
  margin: 0;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  font-size: 18px; /* Decrease font size for link headers */
  text-decoration: underline;
}

.link-item h2::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ffffff transparent transparent transparent;
  transform: translateY(-50%);
}

.link-content {
  display: none;
  padding-left: 20px;
}

.link-content.show {
  display: block;
}

.link-content a {
  margin-right: 10px;
}

.link-content p {
  margin: 10px 0;
}
