/* Set page background to black and text color to white */
body {
  background-color: black;
  color: white;
  padding-top: 20px; /* Add padding to the top of the screen */
  padding-left: 20px; /* Add padding to the left edge of the screen */
  padding-right: 20px; /* Add padding to the right edge of the screen */
}

/* Center the "Referral Links" heading */
header {
  text-align: center;
}

/* Add styling for the link list */
#link-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
  grid-gap: 20px; /* Add gap between links */
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align headers to the middle */
}

.column h3 {
  font-size: 24px; /* Increase font size for column headers */
  margin-top: 10px; /* Adjust top margin for better spacing */
}

.link-item {
  margin-bottom: 20px;
}

.link-item h2 {
  margin: 5px 0; /* Add vertical padding */
  cursor: pointer;
  font-size: 18px; /* Decrease font size for link headers */
  text-decoration: underline;
  text-align: center; /* Align link headers to the middle */
}

.link-content {
  display: none;
  padding-left: 10px;
  text-align: center; /* Center the link and description */
}

.link-content.show {
  display: block;
}

.link-content a {
  margin-right: 10px;
}

.link-content p {
  margin: 10px 0;
}
